<footer>
    <div class="row">
      <div class="col-12 col-xl-6 col-lg-6 mb-2 jen">
        <img src="https://www.pandainuniv.com/logo.png" alt="Panda Logo">
      </div>
        <div class="col-12 col-xl-6 col-lg-6 mb-2 jen">
          <h4 class="mt-3">PandaInUniv</h4><br>
          Contact Us<br>
          About US<br>
          Terms And Conditions<br>
          Privacy Policy
          <div class="footer-icons">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
          </div>
        </div>
        
      
    </div>
</footer>

<!-- <div class="class">
  <h4 class="mt-3">PandaInUniv</h4><br>
  Contact Us<br>
  About US<br>
</div>
<div>
  Terms And Conditions<br>
  Privacy Policy
</div> -->

