<% layout("/layouts/boilerplate.ejs") %>
<div class="row home">
  <div class="blue">
    <h1 class="mt-3"> Share Your University Admission Results Now.</h1>
    <h2>Real Results. Real People. Real Grad Journeys.</h2>
    <br><br>
    
    <h2>Your univ Journey,</h2>
    <h4>Now Less of a Mystery.</h3> 
    <br>
      
    <form method="get" action="/home/results.ejs">
      <a href="/home/results">
        <button class="btn btn-primary submit-home" type="button">Submit Your Results</button>
      </div></a>
    </form>
  </div>

</div>
  

